<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/62b71685-b30f-49a1-9b46-2ec54114855a/resourceGroups/MoneySaverITLA/providers/Microsoft.Web/sites/MoneySaverITLA</ResourceId>
    <ResourceGroup>MoneySaverITLA</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-dm1-039.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MoneySaverITLA</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MoneySaverITLA</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MoneySaverCodeFirst" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FinanzasPersonales.Models.MoneySaverModel, FinanzasPersonales" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:moneysaveritla.database.windows.net,1433;Initial Catalog=MoneySaverITLADb;User ID=zoiloreyes@moneysaveritla.database.windows.net;Password=Scottie5" Name="Data Source=tcp:moneysaveritla.database.windows.net,1433;Initial Catalog=MoneySaverITLADb;User Id=zoiloreyes@moneysaveritla.database.windows.net;Password=Scottie5;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="FinanzasPersonales.Models.ApplicationDbContext, FinanzasPersonales" MigrationConfiguration="FinanzasPersonales.Migrations.Configuration, FinanzasPersonales" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MoneySaverConnectionString" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=MoneySaver;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MoneySaverConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=MoneySaver;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MoneySaverEntities" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=MoneySaver;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MoneySaverEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.MoneySaverModel.csdl|res://*/Models.MoneySaverModel.ssdl|res://*/Models.MoneySaverModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=MoneySaver;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MoneySaverEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="MoneySaverConnectionString-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:moneysaveritla.database.windows.net,1433;Initial Catalog=MoneySaverITLADb;User Id=zoiloreyes@moneysaveritla.database.windows.net;Password=Scottie5;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MoneySaverCodeFirst-Web.config Connection String" />
  </ItemGroup>
</Project>