
@{
    ViewBag.Title = "Resumen";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<style>
    .myContainer {
        padding: 5%;
    }
</style>
<div class="myContainer">
    <div class="row col s12">
        <div class="progress">
            <div class="determinate" style="width: 70%"></div>
        </div>
    </div>

    <div class="row">
        <div class="col m4">
            <div class="card white">
                <div class="card-content white-text">
                    <p style="color:black;"> Pendiente </p>
                </div>
            </div>
        </div>
        <div class="col m4">
            <div class="card white">
                <div class="card-content white-text">
                    <p style="color:black;"> Pendiente </p>
                </div>
            </div>
        </div>

        <div class="col m4">
            <div class="card white">
                <div class="card-content white-text">
                    <p style="color:black;"> Pendiente </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h3>Diciembre</h3>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card  accent-4" style="background-color:#4CAF50">
                <div class="card-content white-text">
                    <br>
                    <span class="card-title">$ 1.000.000</span>
                    <p>Ingresos</p>
                    <br>
                    <p>Diciembre 2017  <p />
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card accent-4" style="background-color: #F44336">
                <br>
                <div class="card-content white-text">
                    <span class="card-title">$ 1.000.000</span>
                    <p>Gastos</p>
                    <br>
                    <p>Diciembre 2017 </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s11">
            <a href="#"><i class="small  material-icons" style="font-size:50px;color:#5a5a5a">navigate_before</i></a>
        </div>
        <a href="#"><i class="small  material-icons" style="font-size:50px;color:#5a5a5a">navigate_next</i></a>
    </div>
    <div class="card white col s12 m12">
        <div class="card-content white-text">
            <div class="card-title" style="color:black;">
                <div class="row">
                    <div class="col m7">
                        Gastos del mes
                    </div>
                    <a href="#">Action 1</a>  &nbsp;
                    <a href="#"> Action </a>
                </div>
            </div>
            <p style="color:gray;">Gracia con los gastos especificos del año</p>
        </div>
    </div>
    <div class="card white col s12 m12">
        <div class="card-content white-text">
            <div class="card-title" style="color:black;">
                <div class="row">
                    <div class="col m7">
                        Gastos del año
                    </div>
                    <a href="#">Action 1 </a>  &nbsp;
                    <a href="#"> Action </a>
                </div>
            </div>
            <p style="color:gray;">Graficas con los gastos especificos del año</p>
        </div>
    </div>
</div>
