@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);
.form-login {
    max-width: 550px;
    background-color: #fff;
    border-top: 5px solid #2ecc71;
    padding: 10px 25px;
    margin: 10px auto;
    overflow: hidden;
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 3px 3px 10px grey;
    text-align: center;
}
.lr p {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    margin: 0;
    font-size: 3rem;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 5px;
}
header {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(img/background.jpg) ;
    background-size: cover;
    height: 100vh;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}
body {
    font-family: 'Roboto', sans-serif;
}
.loadFadein {
    opacity:0;

}

.form-logo {
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
}
.fa {
    display: inherit !important;
}
.nav-wrapper {
    background-color: #89BF43 !important;
}