@{
    ViewBag.Title = "About";
}
<style>
    .contactos {
        display: inline-block;
        margin: 50px 100px;
    }
</style>
<center>
    <h2 style="margin-top:100px" class="light-green-text">Nosotros</h2>

    <div class="contactos">
        <div class="col s3">
            <img style="width:200px ; height:auto;border-radius:100%" src="https://scontent-mia3-2.xx.fbcdn.net/v/t1.0-9/13726819_1384734751537534_600549842287347911_n.jpg?oh=0310c2e39e6b32f49593fc13612767b9&oe=5A9623C1" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            <p>
                Zoilo Maximo
                <br />
                Full stack(Team Leader)
                <br />
                20152756@@itla.edu.do
            </p>

        </div>
    </div>

    <div class="contactos">
        <div class="col s3">
            <img style="width:200px ; height:auto;border-radius:100%" src="https://scontent-mia3-2.xx.fbcdn.net/v/t1.0-9/12483_10151633786572329_826266086_n.jpg?oh=6b523bb5fb1582077150810e0fe0edab&oe=5A8DAFAB" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            <p>
                Luis Felipe
                <br />
                Back-End y Front-End
                <br />
                20152717@@itla.edu.do
            </p>
        </div>
    </div>

    <div class="contactos">
        <div class="col s3">
            <img style="width:200px ; height:auto;border-radius:100%" src="https://scontent.fsdq1-2.fna.fbcdn.net/v/t1.0-9/14192701_1698258470496815_1050729932485088906_n.jpg?oh=fa501968cbabbf98da4ecc9d77b6bea5&oe=5AD3A81D" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            <p>
                Leidy Medina
                <br />
                Front-End
                <br />
                2015242@@itla.edu.do
            </p>
        </div>
    </div>

    <center>

        <div class="contactos">
            <div class="col s3">
                <img style="width:200px ; height:auto;border-radius:100%" src="https://scontent.fsdq1-2.fna.fbcdn.net/v/t1.0-9/12974375_938997826195367_1307769627331304261_n.jpg?oh=c58b58e0a75a3325d5940c1d9cc56d2c&oe=5A9231CD" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                <p>
                    Marly Perez
                    <br />
                    Front-End
                    <br />
                    Matricula@@itla.edu.do
                </p>
            </div>
        </div>

        <div class="contactos">
            <div class="col s3">
                <img style="width:200px ; height:auto;border-radius:100%" src="https://scontent.fsdq1-2.fna.fbcdn.net/v/t1.0-9/997057_728367183866296_1833266390901072610_n.jpg?oh=6c3c7724e86e1108319b0d1f57186c04&oe=5AA0AEF2" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                <p>
                    Oliver Mejia
                    <br />
                    Front-End
                    <br />
                    20152727@@itla.edu.do
                </p>
            </div>
        </div>


        <div class="contactos">
            <div class="col s3">
                <img style="width:200px ; height:auto;border-radius:100%" src="https://scontent.fsdq1-2.fna.fbcdn.net/v/t1.0-9/24301275_1985937558395570_4775897496395021540_n.jpg?oh=a4b67735b284ed0fe6fc6064e7249fd7&oe=5A899237" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                <p>
                    Juan Cesar Matos
                    <br />
                    DBA
                    <br />
                    20152556@@itla.edu.do
                </p>
            </div>
        </div>

    </center>
</center>

