@{
    ViewBag.Title = "Contact";
}
<style>
    .contactos{
        display:inline-block;
        margin:50px 100px;
    }
</style>
<center>
    <h2 style="margin-top:100px">Las Mentes Maestras</h2>

    <div class="contactos">
        <div class="col s3">
            <img style="width:200px ; height:auto;border-radius:100%" src="https://scontent-mia3-2.xx.fbcdn.net/v/t1.0-9/13726819_1384734751537534_600549842287347911_n.jpg?oh=0310c2e39e6b32f49593fc13612767b9&oe=5A9623C1" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            <p>Zoilo Maximo
            <br />
            2015242@@itla.edu.do
            </p>
       
         </div>
    </div>

    <div class="contactos">
        <div class="col s3">
            <img style="width:200px ; height:auto;border-radius:100%" src="https://scontent-mia3-2.xx.fbcdn.net/v/t1.0-9/11141312_10153352191472329_1927772441083223685_n.jpg?oh=5450c7cf56d73ac81fc550dc4e4e6c25&oe=5A9A2BCA" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            <p>Luis Felipe
             <br />
             2015242@@itla.edu.do
            </p>
        </div>
    </div>

    <div class="contactos">
        <div class="col s3">
            <img style="width:200px ; height:auto;border-radius:100%" src="https://scontent-mia3-2.xx.fbcdn.net/v/t1.0-9/21032696_1933454346977225_7794627207645922495_n.jpg?oh=0216fdb51528e92a4b800034d07ccbe9&oe=5AD11279" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            <p>Leidy Medina
            <br/>
            2015242@@itla.edu.do
            </p>
         </div>
    </div>


</center>


