@{
    ViewBag.Title = "Home Page";
}
<div>

</div>

<header class="loadFadein">
    <div class="title lr">
        
    </div>
    <div class="lr">
        <p>Retoma el control de tus finanzas</p>
    </div>
</header>
<div class="container">
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col s12 m4">
            <h2 class="center light-green-text" >
                <i class="medium material-icons">attach_money</i>
            </h2>

            <h5 class="center">
                Descrubre a donde va tu dinero
            </h5>
            <p class="light">
                Con nuestra pagina puedes observar todas las transancciones que realizas, permitiendote ver a donde van tus ingresos y egresos
            </p>
        </div>
        <div class="col s12 m4">
            <h2 class="center light-green-text">
                <i class="medium material-icons">location_on</i>
            </h2>
            <h5 class="center">
                Ingresa desde donde quieras
            </h5>
            <p class="light">
                Nuestra pagina web es compatible con todos tus dispositivos, para darle seguimiento a tu dinero desde donde sea.
            </p>
        </div>
        <div class="col s12 m4">
            <h2 class="center light-green-text">
                <i class="medium material-icons">lock</i>
            </h2>
            <h5 class="center">
                Tus datos estan protegidos
            </h5>
            <p class="light">
                <br />
                Con nuestro sistema de encriptacion de datos tus datos personales no podrán ser robados.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m4">
            <h2 class="center light-green-text">
                <i class="medium material-icons">attach_money</i>
            </h2>
            <h5 class="center">
                Descrubre a donde va tu dinero
            </h5>
            <p class="light">
                Con nuestra pagina puedes observar todas las transancciones que realizas, permitiendote ver a donde van tus ingresos y egresos
            </p>
        </div>
        <div class="col s12 m4">
            <h2 class="center light-green-text">
                <i class="medium material-icons">location_on</i>
            </h2>
            <h5 class="center">
                Ingresa desde donde quieras
            </h5>
            <p class="light">
                Nuestra pagina web es compatible con todos tus dispositivos, para darle seguimiento a tu dinero desde donde sea.
            </p>
        </div>
        <div class="col s12 m4">
            <h2 class="center light-green-text">
                <i class="medium material-icons">lock</i>
            </h2>
            <h5 class="center">
                Tus datos estan protegidos
            </h5>
            <p class="light">
                <br />
                Con nuestro sistema de encriptacion de datos tus datos personales no podrán ser robados.
            </p>
        </div>
    </div>
</div>

@section scripts {

    <script>
        

    </script>

}