@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="right hide-on-med-and-down">
        <li>
            @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul id="dropDownCuenta" class="dropdown-content">
        <li><a class="text-center" href="@Url.Action("Login", "Account")">Inicia</a></li>
        <li><a class="text-center" href="@Url.Action("Register", "Account")">Regístrate</a></li>
    </ul>
    <ul class="right hide-on-med-and-down">
        <li><a class="dropdown-button" href="#!" data-activates="dropDownCuenta"><i class="material-icons left">person</i>Cuenta</a></li>
        </ul>
}
